
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
    overflow: hidden;
}

.container {
    border: 2px solid white;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
}

.circle_1 {
    display: block;
    background: red;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation-name: circle_1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes circle_1 {
    0% {top: -200px}
    100% {top: 0px}
}

.circle_2 {
    display: block;
    background: yellow;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation-name: circle_2;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    
}

@keyframes circle_2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.circle_3 {
    display: block;
    background: green;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation-name: circle_3;
    animation-duration: 4.5s;
    animation-fill-mode: forwards;
}

@keyframes circle_3 {
    0% {transform: rotateY(360deg);}
    100% {transform: rotateY(0deg);}
}

